/* Basic Style */
li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.main-wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header .header__logo {
  width: 100%;
}

.header .header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.row {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  width: 226px;
}

.main__single-row-wrapper {
  display: flex;
  margin: 20px 0 0;
}

.list {
  margin: 0;
  padding: 0px;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.section__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.text-input:focus {
  color: #333;
}

/* New Task */
.main__single-row-wrapper .text-input {
  width: 318px;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item > * {
  vertical-align: middle;
}

.list__item > .checkbox {
  margin: 0 10px;
}

.list__item > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.main__button_delete .main__button-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__button_delete .main__button-image:hover {
  transform: rotateZ(0);
}

/* Completed */
.list#completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list .list__item .text-input {
  display: none;
}

.list .list__item.editMode .text-input {
  display: inline-block;
  width: 224px;
}

.list .list__item.editMode .label {
  display: none;
}